body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2266%22%20height%3D%2238%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20points%3D%220%2C0%2033%2C19%200%2C%2038%22%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2266%2C0%2033%2C19%2066%2C%2038%22%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpolyline%20points%3D%2233%2C0%2033%2C38%22%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%2F%3E%0A%3C%2Fsvg%3E");
    background-size: min(34.641px, calc(100vw / 500 * 34.641)) auto;
    background-position-x: center;
    background-position-y: 10px;
    font-family: sans-serif;
    color: #222;
    font-size: 12pt;
}

header {
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    height: min(100px, calc(100vw / 500 * 100));
}

.triangle-pattern {
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22207.84609690826525%22%20height%3D%22100.0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%09%3Cpolygon%20points%3D%2226.0%2C-15%200%2C0%2010%2C10%2026.0%2C15%22%20fill%3D%22%230b0b0b%22%2F%3E%0A%09%3Cpolygon%20points%3D%220%2C0%200%2C20%2010%2C30%2026.0%2C15%22%20fill%3D%22%231a1a1a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2226.0%2C5%200%2C20%2010%2C30%2026.0%2C35%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%220%2C20%200%2C40%2010%2C50%2026.0%2C35%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%2226.0%2C25%200%2C40%2010%2C50%2026.0%2C55%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%220%2C40%200%2C60%2010%2C70%2026.0%2C55%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%2226.0%2C45%200%2C60%2010%2C70%2026.0%2C75%22%20fill%3D%22%23060606%22%2F%3E%0A%09%3Cpolygon%20points%3D%220%2C60%200%2C80%2010%2C90%2026.0%2C75%22%20fill%3D%22%231b1b1b%22%2F%3E%0A%09%3Cpolygon%20points%3D%2226.0%2C65%200%2C80%2010%2C90%2026.0%2C95%22%20fill%3D%22%23050505%22%2F%3E%0A%09%3Cpolygon%20points%3D%220%2C80%200%2C100%2010%2C110%2026.0%2C95%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%2226.0%2C85%200%2C100%2010%2C110%2026.0%2C115%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2217.3%2C-10%2017.3%2C10%2027.3%2C20%2043.3%2C4%22%20fill%3D%22%230f0f0f%22%2F%3E%0A%09%3Cpolygon%20points%3D%2243.3%2C-4%2017.3%2C10%2027.3%2C20%2043.3%2C25%22%20fill%3D%22%23191919%22%2F%3E%0A%09%3Cpolygon%20points%3D%2217.3%2C10%2017.3%2C30%2027.3%2C40%2043.3%2C25%22%20fill%3D%22%23121212%22%2F%3E%0A%09%3Cpolygon%20points%3D%2243.3%2C15%2017.3%2C30%2027.3%2C40%2043.3%2C45%22%20fill%3D%22%230f0f0f%22%2F%3E%0A%09%3Cpolygon%20points%3D%2217.3%2C30%2017.3%2C50%2027.3%2C60%2043.3%2C45%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%2243.3%2C35%2017.3%2C50%2027.3%2C60%2043.3%2C65%22%20fill%3D%22%23191919%22%2F%3E%0A%09%3Cpolygon%20points%3D%2217.3%2C50%2017.3%2C70%2027.3%2C80%2043.3%2C65%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%2243.3%2C55%2017.3%2C70%2027.3%2C80%2043.3%2C85%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%2217.3%2C70%2017.3%2C90%2027.3%2C100%2043.3%2C85%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2243.3%2C75%2017.3%2C90%2027.3%2C100%2043.3%2C105%22%20fill%3D%22%23181818%22%2F%3E%0A%09%3Cpolygon%20points%3D%2217.3%2C90%2017.3%2C110%2027.3%2C120%2043.3%2C105%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%2260.6%2C-15%2034.6%2C0%2044.6%2C10%2060.6%2C15%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%2234.6%2C0%2034.6%2C20%2044.6%2C30%2060.6%2C15%22%20fill%3D%22%231a1a1a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2260.6%2C5%2034.6%2C20%2044.6%2C30%2060.6%2C35%22%20fill%3D%22%230f0f0f%22%2F%3E%0A%09%3Cpolygon%20points%3D%2234.6%2C20%2034.6%2C40%2044.6%2C50%2060.6%2C35%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%2260.6%2C25%2034.6%2C40%2044.6%2C50%2060.6%2C55%22%20fill%3D%22%230c0c0c%22%2F%3E%0A%09%3Cpolygon%20points%3D%2234.6%2C40%2034.6%2C60%2044.6%2C70%2060.6%2C55%22%20fill%3D%22%23181818%22%2F%3E%0A%09%3Cpolygon%20points%3D%2260.6%2C45%2034.6%2C60%2044.6%2C70%2060.6%2C75%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2234.6%2C60%2034.6%2C80%2044.6%2C90%2060.6%2C75%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2260.6%2C65%2034.6%2C80%2044.6%2C90%2060.6%2C95%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%2234.6%2C80%2034.6%2C100%2044.6%2C110%2060.6%2C95%22%20fill%3D%22%230c0c0c%22%2F%3E%0A%09%3Cpolygon%20points%3D%2260.6%2C85%2034.6%2C100%2044.6%2C110%2060.6%2C115%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%2252.0%2C-10%2052.0%2C10%2062.0%2C20%2077.9%2C4%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2277.9%2C-4%2052.0%2C10%2062.0%2C20%2077.9%2C25%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%2252.0%2C10%2052.0%2C30%2062.0%2C40%2077.9%2C25%22%20fill%3D%22%231b1b1b%22%2F%3E%0A%09%3Cpolygon%20points%3D%2277.9%2C15%2052.0%2C30%2062.0%2C40%2077.9%2C45%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%2252.0%2C30%2052.0%2C50%2062.0%2C60%2077.9%2C45%22%20fill%3D%22%231b1b1b%22%2F%3E%0A%09%3Cpolygon%20points%3D%2277.9%2C35%2052.0%2C50%2062.0%2C60%2077.9%2C65%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2252.0%2C50%2052.0%2C70%2062.0%2C80%2077.9%2C65%22%20fill%3D%22%23181818%22%2F%3E%0A%09%3Cpolygon%20points%3D%2277.9%2C55%2052.0%2C70%2062.0%2C80%2077.9%2C85%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%2252.0%2C70%2052.0%2C90%2062.0%2C100%2077.9%2C85%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2277.9%2C75%2052.0%2C90%2062.0%2C100%2077.9%2C105%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2252.0%2C90%2052.0%2C110%2062.0%2C120%2077.9%2C105%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2295.3%2C-15%2069.3%2C0%2079.3%2C10%2095.3%2C15%22%20fill%3D%22%23131313%22%2F%3E%0A%09%3Cpolygon%20points%3D%2269.3%2C0%2069.3%2C20%2079.3%2C30%2095.3%2C15%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%2295.3%2C5%2069.3%2C20%2079.3%2C30%2095.3%2C35%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%2269.3%2C20%2069.3%2C40%2079.3%2C50%2095.3%2C35%22%20fill%3D%22%230f0f0f%22%2F%3E%0A%09%3Cpolygon%20points%3D%2295.3%2C25%2069.3%2C40%2079.3%2C50%2095.3%2C55%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%2269.3%2C40%2069.3%2C60%2079.3%2C70%2095.3%2C55%22%20fill%3D%22%23111111%22%2F%3E%0A%09%3Cpolygon%20points%3D%2295.3%2C45%2069.3%2C60%2079.3%2C70%2095.3%2C75%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%2269.3%2C60%2069.3%2C80%2079.3%2C90%2095.3%2C75%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%2295.3%2C65%2069.3%2C80%2079.3%2C90%2095.3%2C95%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%2269.3%2C80%2069.3%2C100%2079.3%2C110%2095.3%2C95%22%20fill%3D%22%231a1a1a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2295.3%2C85%2069.3%2C100%2079.3%2C110%2095.3%2C115%22%20fill%3D%22%23181818%22%2F%3E%0A%09%3Cpolygon%20points%3D%2286.6%2C-10%2086.6%2C10%2096.6%2C20%20112.6%2C4%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%22112.6%2C-4%2086.6%2C10%2096.6%2C20%20112.6%2C25%22%20fill%3D%22%23151515%22%2F%3E%0A%09%3Cpolygon%20points%3D%2286.6%2C10%2086.6%2C30%2096.6%2C40%20112.6%2C25%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22112.6%2C15%2086.6%2C30%2096.6%2C40%20112.6%2C45%22%20fill%3D%22%23121212%22%2F%3E%0A%09%3Cpolygon%20points%3D%2286.6%2C30%2086.6%2C50%2096.6%2C60%20112.6%2C45%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22112.6%2C35%2086.6%2C50%2096.6%2C60%20112.6%2C65%22%20fill%3D%22%231a1a1a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2286.6%2C50%2086.6%2C70%2096.6%2C80%20112.6%2C65%22%20fill%3D%22%23111111%22%2F%3E%0A%09%3Cpolygon%20points%3D%22112.6%2C55%2086.6%2C70%2096.6%2C80%20112.6%2C85%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%2286.6%2C70%2086.6%2C90%2096.6%2C100%20112.6%2C85%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%22112.6%2C75%2086.6%2C90%2096.6%2C100%20112.6%2C105%22%20fill%3D%22%230b0b0b%22%2F%3E%0A%09%3Cpolygon%20points%3D%2286.6%2C90%2086.6%2C110%2096.6%2C120%20112.6%2C105%22%20fill%3D%22%23151515%22%2F%3E%0A%09%3Cpolygon%20points%3D%22129.9%2C-15%20103.9%2C0%20113.9%2C10%20129.9%2C15%22%20fill%3D%22%230e0e0e%22%2F%3E%0A%09%3Cpolygon%20points%3D%22103.9%2C0%20103.9%2C20%20113.9%2C30%20129.9%2C15%22%20fill%3D%22%231e1e1e%22%2F%3E%0A%09%3Cpolygon%20points%3D%22129.9%2C5%20103.9%2C20%20113.9%2C30%20129.9%2C35%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%22103.9%2C20%20103.9%2C40%20113.9%2C50%20129.9%2C35%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%22129.9%2C25%20103.9%2C40%20113.9%2C50%20129.9%2C55%22%20fill%3D%22%231a1a1a%22%2F%3E%0A%09%3Cpolygon%20points%3D%22103.9%2C40%20103.9%2C60%20113.9%2C70%20129.9%2C55%22%20fill%3D%22%23060606%22%2F%3E%0A%09%3Cpolygon%20points%3D%22129.9%2C45%20103.9%2C60%20113.9%2C70%20129.9%2C75%22%20fill%3D%22%23151515%22%2F%3E%0A%09%3Cpolygon%20points%3D%22103.9%2C60%20103.9%2C80%20113.9%2C90%20129.9%2C75%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%22129.9%2C65%20103.9%2C80%20113.9%2C90%20129.9%2C95%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%22103.9%2C80%20103.9%2C100%20113.9%2C110%20129.9%2C95%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%22129.9%2C85%20103.9%2C100%20113.9%2C110%20129.9%2C115%22%20fill%3D%22%231b1b1b%22%2F%3E%0A%09%3Cpolygon%20points%3D%22121.2%2C-10%20121.2%2C10%20131.2%2C20%20147.2%2C4%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%22147.2%2C-4%20121.2%2C10%20131.2%2C20%20147.2%2C25%22%20fill%3D%22%230e0e0e%22%2F%3E%0A%09%3Cpolygon%20points%3D%22121.2%2C10%20121.2%2C30%20131.2%2C40%20147.2%2C25%22%20fill%3D%22%23111111%22%2F%3E%0A%09%3Cpolygon%20points%3D%22147.2%2C15%20121.2%2C30%20131.2%2C40%20147.2%2C45%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%22121.2%2C30%20121.2%2C50%20131.2%2C60%20147.2%2C45%22%20fill%3D%22%23131313%22%2F%3E%0A%09%3Cpolygon%20points%3D%22147.2%2C35%20121.2%2C50%20131.2%2C60%20147.2%2C65%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%22121.2%2C50%20121.2%2C70%20131.2%2C80%20147.2%2C65%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22147.2%2C55%20121.2%2C70%20131.2%2C80%20147.2%2C85%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22121.2%2C70%20121.2%2C90%20131.2%2C100%20147.2%2C85%22%20fill%3D%22%23060606%22%2F%3E%0A%09%3Cpolygon%20points%3D%22147.2%2C75%20121.2%2C90%20131.2%2C100%20147.2%2C105%22%20fill%3D%22%23050505%22%2F%3E%0A%09%3Cpolygon%20points%3D%22121.2%2C90%20121.2%2C110%20131.2%2C120%20147.2%2C105%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%22164.5%2C-15%20138.6%2C0%20148.6%2C10%20164.5%2C15%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%22138.6%2C0%20138.6%2C20%20148.6%2C30%20164.5%2C15%22%20fill%3D%22%23151515%22%2F%3E%0A%09%3Cpolygon%20points%3D%22164.5%2C5%20138.6%2C20%20148.6%2C30%20164.5%2C35%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22138.6%2C20%20138.6%2C40%20148.6%2C50%20164.5%2C35%22%20fill%3D%22%23111111%22%2F%3E%0A%09%3Cpolygon%20points%3D%22164.5%2C25%20138.6%2C40%20148.6%2C50%20164.5%2C55%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%22138.6%2C40%20138.6%2C60%20148.6%2C70%20164.5%2C55%22%20fill%3D%22%230a0a0a%22%2F%3E%0A%09%3Cpolygon%20points%3D%22164.5%2C45%20138.6%2C60%20148.6%2C70%20164.5%2C75%22%20fill%3D%22%23111111%22%2F%3E%0A%09%3Cpolygon%20points%3D%22138.6%2C60%20138.6%2C80%20148.6%2C90%20164.5%2C75%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%22164.5%2C65%20138.6%2C80%20148.6%2C90%20164.5%2C95%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%22138.6%2C80%20138.6%2C100%20148.6%2C110%20164.5%2C95%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22164.5%2C85%20138.6%2C100%20148.6%2C110%20164.5%2C115%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22155.9%2C-10%20155.9%2C10%20165.9%2C20%20181.9%2C4%22%20fill%3D%22%230c0c0c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22181.9%2C-4%20155.9%2C10%20165.9%2C20%20181.9%2C25%22%20fill%3D%22%23090909%22%2F%3E%0A%09%3Cpolygon%20points%3D%22155.9%2C10%20155.9%2C30%20165.9%2C40%20181.9%2C25%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22181.9%2C15%20155.9%2C30%20165.9%2C40%20181.9%2C45%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%22155.9%2C30%20155.9%2C50%20165.9%2C60%20181.9%2C45%22%20fill%3D%22%23060606%22%2F%3E%0A%09%3Cpolygon%20points%3D%22181.9%2C35%20155.9%2C50%20165.9%2C60%20181.9%2C65%22%20fill%3D%22%23050505%22%2F%3E%0A%09%3Cpolygon%20points%3D%22155.9%2C50%20155.9%2C70%20165.9%2C80%20181.9%2C65%22%20fill%3D%22%231a1a1a%22%2F%3E%0A%09%3Cpolygon%20points%3D%22181.9%2C55%20155.9%2C70%20165.9%2C80%20181.9%2C85%22%20fill%3D%22%230c0c0c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22155.9%2C70%20155.9%2C90%20165.9%2C100%20181.9%2C85%22%20fill%3D%22%23141414%22%2F%3E%0A%09%3Cpolygon%20points%3D%22181.9%2C75%20155.9%2C90%20165.9%2C100%20181.9%2C105%22%20fill%3D%22%23181818%22%2F%3E%0A%09%3Cpolygon%20points%3D%22155.9%2C90%20155.9%2C110%20165.9%2C120%20181.9%2C105%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%22199.2%2C-15%20173.2%2C0%20183.2%2C10%20199.2%2C15%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%22173.2%2C0%20173.2%2C20%20183.2%2C30%20199.2%2C15%22%20fill%3D%22%231d1d1d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22199.2%2C5%20173.2%2C20%20183.2%2C30%20199.2%2C35%22%20fill%3D%22%23101010%22%2F%3E%0A%09%3Cpolygon%20points%3D%22173.2%2C20%20173.2%2C40%20183.2%2C50%20199.2%2C35%22%20fill%3D%22%23191919%22%2F%3E%0A%09%3Cpolygon%20points%3D%22199.2%2C25%20173.2%2C40%20183.2%2C50%20199.2%2C55%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22173.2%2C40%20173.2%2C60%20183.2%2C70%20199.2%2C55%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22199.2%2C45%20173.2%2C60%20183.2%2C70%20199.2%2C75%22%20fill%3D%22%23060606%22%2F%3E%0A%09%3Cpolygon%20points%3D%22173.2%2C60%20173.2%2C80%20183.2%2C90%20199.2%2C75%22%20fill%3D%22%230f0f0f%22%2F%3E%0A%09%3Cpolygon%20points%3D%22199.2%2C65%20173.2%2C80%20183.2%2C90%20199.2%2C95%22%20fill%3D%22%230c0c0c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22173.2%2C80%20173.2%2C100%20183.2%2C110%20199.2%2C95%22%20fill%3D%22%23080808%22%2F%3E%0A%09%3Cpolygon%20points%3D%22199.2%2C85%20173.2%2C100%20183.2%2C110%20199.2%2C115%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%22190.5%2C-10%20190.5%2C10%20200.5%2C20%20216.5%2C4%22%20fill%3D%22%230d0d0d%22%2F%3E%0A%09%3Cpolygon%20points%3D%22216.5%2C-4%20190.5%2C10%20200.5%2C20%20216.5%2C25%22%20fill%3D%22%230b0b0b%22%2F%3E%0A%09%3Cpolygon%20points%3D%22190.5%2C10%20190.5%2C30%20200.5%2C40%20216.5%2C25%22%20fill%3D%22%231c1c1c%22%2F%3E%0A%09%3Cpolygon%20points%3D%22216.5%2C15%20190.5%2C30%20200.5%2C40%20216.5%2C45%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%22190.5%2C30%20190.5%2C50%20200.5%2C60%20216.5%2C45%22%20fill%3D%22%23191919%22%2F%3E%0A%09%3Cpolygon%20points%3D%22216.5%2C35%20190.5%2C50%20200.5%2C60%20216.5%2C65%22%20fill%3D%22%23131313%22%2F%3E%0A%09%3Cpolygon%20points%3D%22190.5%2C50%20190.5%2C70%20200.5%2C80%20216.5%2C65%22%20fill%3D%22%23121212%22%2F%3E%0A%09%3Cpolygon%20points%3D%22216.5%2C55%20190.5%2C70%20200.5%2C80%20216.5%2C85%22%20fill%3D%22%23070707%22%2F%3E%0A%09%3Cpolygon%20points%3D%22190.5%2C70%20190.5%2C90%20200.5%2C100%20216.5%2C85%22%20fill%3D%22%23171717%22%2F%3E%0A%09%3Cpolygon%20points%3D%22216.5%2C75%20190.5%2C90%20200.5%2C100%20216.5%2C105%22%20fill%3D%22%23121212%22%2F%3E%0A%09%3Cpolygon%20points%3D%22190.5%2C90%20190.5%2C110%20200.5%2C120%20216.5%2C105%22%20fill%3D%22%23080808%22%2F%3E%0A%3C%2Fsvg%3E");
    background-position-x: center;
    background-size: min(208px, calc(100vw / 500 * 208)) auto;
}

header .container {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

header .container img {
    max-width: 100%;
    display: block;
}

.card {
    width: 720px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.card .timestamp {
    color: #999;
    font-size: 0.825em;
    letter-spacing: 1px;
    margin: 1em 0;
}

.card>a {
    text-decoration: none;
    color: inherit;
}

.card>a>h1 {
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

.content {
    line-height: 1.6;
    text-align: justify;
}

.content a, .content a:visited, .content a:active, .content a:hover {
    color: #0065a8;
}

.content h1 {
    font-size: 1.7em;
}

.content h2 {
    font-size: 1.3em;
}

.content h3 {
    font-size: 1.1em;
}

.content h1, .content h2, .content h3 {
    margin-bottom: 0;
}

.content code {
    font-family: monospace;
    background-color: #f5f5f5;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    padding: 2px 6px;
}

.card img, .card video {
    max-width: 100%;
}

.card .continue {
    display: inline-block;
    padding: 16px;
    background-color: #e2e2e2;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
}

.card .continue:hover {
    background-color: #c2c2c2;
}

.continue:visited, .continue:hover, .continue:active {
    color: inherit;
}

footer {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
}

footer .socials {
    width: 760px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    vertical-align: middle;
}

.socials>div {
  display: flex;
  align-items: center;
}

.socials .social-icon {
    display: inline-block;
    width: 32px;
    padding: 10px 10px;
    margin: auto 10px;
}

.social-icon svg path {
    fill: #272727;
}

footer .socials a, footer .socials a:hover, footer .socials a:active, footer .socials a:visited {
    color: inherit;
    text-decoration: none;
}

footer .decorator {
    height: 100px;
}

figure {
    margin: 0;
}


.page-navigation {
    width: 780px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.page-navigation a {
    display: inline-block;
    padding: 16px;
    background-color: #e2e2e2;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
}

.page-navigation a:hover {
    background-color: #c2c2c2;
}

.page-navigation a:visited, .page-navigation a:hover, .page-navigation a:active {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121314;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2266%22%20height%3D%2238%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20points%3D%220%2C0%2033%2C19%200%2C%2038%22%20stroke%3D%22%23181818%22%20stroke-width%3D%222%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2266%2C0%2033%2C19%2066%2C%2038%22%20stroke%3D%22%23181818%22%20stroke-width%3D%222%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpolyline%20points%3D%2233%2C0%2033%2C38%22%20stroke%3D%22%23181818%22%20stroke-width%3D%222%22%2F%3E%0A%3C%2Fsvg%3E");
        color: #dfdfdf;
    }

    .card, footer {
        background-color: #262728;
    }
    
    .card .continue {
        background-color: #3e4044;
    }

    .card .continue:hover {
        background-color: #5a5d64;
    }

    .content a, .content a:visited, .content a:active, .content a:hover {
        color: #62addf;
    }

    .content code {
        background-color: #222222;
        border: 1px solid #424242;
    }
    
    .social-icon svg path {
        fill: #dfdfdf;
    }

    .page-navigation a {
        background-color: #3e4044;
    }

    .page-navigation a:hover {
        background-color: #5a5d64;
    }
}

@media screen and (max-width: 720px) {
    .card {
        border-radius: 0;
    }
}